.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);
  gap: calc(var(--mantine-spacing-xs) / 2);
}

.text_container {
  display: flex;
  flex-direction: row;
  gap: var(--mantine-spacing-xs);
}