.container {
  background-color: alpha(var(--mantine-color-indigo-6), 0.25);
  border-radius: var(--mantine-spacing-xs);
  border-color: var(--mantine-color-indigo-2);
  border-width: 1px;
  border-style: solid;
  flex: 1;
  overflow: scroll;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  width: 100%;
}