.default {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-sm);
  height: calc(100dvh - 45px - var(--app-shell-header-offset) - calc(var(--app-shell-padding) * 3));
  transition: all linear 250ms;
}

.queued {
  background-color: light-dark(var(--mantine-color-orange-0), alpha(var(--mantine-color-orange-4), 0.1));
}

.queued_border {
  border-color: light-dark(var(--mantine-color-orange-8), var(--mantine-color-orange-3));
}

.errored {
  background-color: light-dark(var(--mantine-color-red-0), alpha(var(--mantine-color-red-4), 0.1));
}

.errored_border {
  border-color: light-dark(var(--mantine-color-red-8), var(--mantine-color-red-3));
}

.running {
  background-color: light-dark(var(--mantine-color-indigo-0), alpha(var(--mantine-color-indigo-4), 0.1));
  
  &:hover {
    cursor: pointer;
    background-color: light-dark(var(--mantine-color-indigo-2), alpha(var(--mantine-color-indigo-4), 0.15));
  }
}

.running_border {
  border-color: light-dark(var(--mantine-color-indigo-8), var(--mantine-color-indigo-3));
}

.completed {
  background-color: light-dark(var(--mantine-color-green-0), alpha(var(--mantine-color-green-4), 0.1));
}

.completed_border {
  border-color: light-dark(var(--mantine-color-green-8), var(--mantine-color-green-3));
}

.line_info {
  display: flex;
  flex-direction: row;
  gap: var(--mantine-spacing-xs);
}

.line_info_label {
  font-size: var(--mantine-font-size-md);
  font-weight: bold;

  @media (min-width: $mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-xl);
  }
}

.line_info_value {
  font-size: var(--mantine-font-size-md);
  
  @media (min-width: $mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-xl);
  }
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.section_title {
  font-size: var(--mantine-font-size-xl);
  margin-bottom: var(--mantine-spacing-xs);

  @media (min-width: $mantine-breakpoint-md) {
    font-size: calc(var(--mantine-font-size-xl) * 1.25);
  }
}